.container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: yellow;
}

.user-details {
  background-color: blue;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  border-radius: 15px;
  margin: 50px;
  flex-grow: 7;
}

.purchase-card {
  background-color: red;
  margin-left: 50px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  border-radius: 15px 50px 30px 5px;
  margin: 50px;
  flex-grow: 3;
}

.purchase-card > .show-grid {
  padding-bottom: 1.5em;
}

.cart-item {
  float: right;
}

.btn-round {
	background-color: #651fff;
}

.btn-round:hover {
	background-color: #0100ca;
}

.btn-round:disabled {
	background-color: #651fff;
}
